body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("17973908.jpg");
    
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    background-color:rgba(255, 255, 255, 0.397);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 3px 17px -5px rgba(0,0,0,0.75);
  }
  
  button {
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: blue;
  }
  
  form {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  h1{
    background-color: aqua;
    align-items: center;
    text-align: center;
  }
  footer{
    text-align: center;
  }